.headerBar{
    height: 64px !important;
    background-color: #3193f6;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.fa-bars{
    color:white !important;
    font-size: 20px !important;
}
.hamburger{
    padding: 24px;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #2c3e50;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.tbWrapper{
    padding:30px 10px 10px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.tbWrapper h2{
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid #2c3e50;
}
.tableParent{
    overflow-x: auto;
    
}
table{
    margin-top:0px;
    margin-bottom: 0px !important;
}
table, th, td {
    border: 1px solid #2c3e50;
}
th{
        text-align: center;
        vertical-align:middle !important;
        text-align:center !important;
}
.body-td-center{
    text-align: center!important;
}
.body-td-right{
    text-align: right!important;
}
.ft-td-center{
    text-align: center!important;
}
.pageMenu-wrap > div{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 22px;
    cursor: pointer;
}
.pageMenu-wrap > div:hover{
   transform: scale(1.05);
}
.get-out-sugar{
    background-color: white;
    text-align:center;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    height: 60px;
    line-height: 60px;
}